In [1]:
# import libraries
from performance_metrics import *
from sklearn.preprocessing import MinMaxScaler

# FTSE 100

In [2]:
STOCK_NAME = "FTSE 100"
STOCK_NAME_edited = "**FTSE 100**"
NAME = "RANDOM_SEARCH_1"
PATH_STOCK_NAME = f'FTSE100/Sensitivity Analysis/{NAME}'
PATH_STOCK_NAME_1= f'FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1A'

df_EC_ARIMA_LO_BM = pd.read_csv(f'../ARIMA/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LO_BM = pd.read_csv(f'../LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/{PATH_STOCK_NAME_1}/Visualisations/df_EC_LO_MAIN.csv')

df_EC_ARIMA_LS_BM = pd.read_csv(f'../ARIMA/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')
df_EC_LSTM_LS_BM = pd.read_csv(f'../LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')
df_EC_ARIMA_LSTM_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/{PATH_STOCK_NAME_1}/Visualisations/df_EC_LS_MAIN.csv')

In [3]:
df_perf_metr_LO = performance_metrics("**Long Only**", df_EC_LSTM_LO_BM, df_EC_ARIMA_LO_BM, df_EC_LSTM_LO_BM, df_EC_ARIMA_LSTM_LO_BM, STOCK_NAME_edited)

In [4]:
df_perf_metr_LS = performance_metrics("**Long Short**", df_EC_LSTM_LO_BM, df_EC_ARIMA_LS_BM, df_EC_LSTM_LS_BM, df_EC_ARIMA_LSTM_LS_BM, STOCK_NAME_edited)

In [5]:
df_perf_metr_LO

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Only**,,,,,,,
,**FTSE 100**,2.39,18.03,47.83,5.94,13.27,0.66
,ARIMA,-3.78,**12.88**,58.12,12.55,0,0
,LSTM,2.68,14.32,34.93,3.61,18.75,1.44
,LSTM-ARIMA,**5.47**,13.79,**30.22**,**0.91**,**39.71**,**7.19**

In [6]:
df_perf_metr_LS

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,,,,,,,
,**FTSE 100**,2.39,18.03,47.83,**5.94**,13.27,0.66
,ARIMA,0.84,18.04,53.65,8.03,4.66,0.07
,LSTM,2.28,18.03,42.92,11.3,12.67,0.67
,LSTM-ARIMA,**10.98**,**18.02**,**40.17**,10.89,**60.92**,**16.65**

In [7]:
STOCK_NAME_FOLDER = f'./PERF_METR_RESULTS/{STOCK_NAME}/{NAME}'

import os
if not os.path.exists(STOCK_NAME_FOLDER):
    os.makedirs(STOCK_NAME_FOLDER)

df_perf_metr_LO.to_csv(f'{STOCK_NAME_FOLDER}/df_perf_metr_LO.csv')
df_perf_metr_LS.to_csv(f'{STOCK_NAME_FOLDER}/df_perf_metr_LS.csv')

# Sensitivity Analysis - LSTM

In [8]:
STOCK_NAME = "FTSE 100"

df_EC_LSTM_LO_BM = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_BM = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_LSTM_LO_SENS_0 = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_LSTM_LS_SENS_0 = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_LSTM_LO_SENS_0A = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_LSTM_LS_SENS_0A = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_1 = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_1 = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_1A = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_1A = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_2 = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_2 = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_2A = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_2A = pd.read_csv(f'../LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LS_MAIN.csv')

In [9]:
df_perf_metr_LO_LSTM = performance_metrics_SENS("**Long Only**", 
                                                df_EC_LSTM_LO_BM, 
                                                df_EC_LSTM_LO_BM, 
                                                # df_EC_LSTM_LO_SENS_0,
                                                # df_EC_LSTM_LO_SENS_0A,
                                                df_EC_LSTM_LO_SENS_1, 
                                                df_EC_LSTM_LO_SENS_1A, 
                                                df_EC_LSTM_LO_SENS_2, 
                                                df_EC_LSTM_LO_SENS_2A,
                                                STOCK_NAME_edited,
                                                'Panel E', 'Panel F')

In [10]:
df_perf_metr_LS_LSTM = performance_metrics_SENS_LS("**Long Short**", 
                                                df_EC_LSTM_LS_BM, 
                                                df_EC_LSTM_LS_BM, 
                                                # df_EC_LSTM_LS_SENS_0,
                                                # df_EC_LSTM_LS_SENS_0A,
                                                df_EC_LSTM_LS_SENS_1, 
                                                df_EC_LSTM_LS_SENS_1A, 
                                                df_EC_LSTM_LS_SENS_2, 
                                                df_EC_LSTM_LS_SENS_2A,
                                                STOCK_NAME_edited,
                                                'Panel G', 'Panel H')

In [11]:
df_perf_metr_LO_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
&nbsp;,**FTSE 100**,2.39,18.03,47.83,5.94,13.27,0.66
&nbsp;,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case (Dropout = 0.075),2.68,14.32,34.93,3.61,18.75,1.44
**Panel E: Dropout Rate**,Dropout = 0.05,**2.85**,13.1,**27.53**,**2.45**,21.78,**2.26**
,Dropout = 0.1,2.78,**11.99**,30.44,4.77,**23.17**,2.12
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel F: Batch Size**,Base Case (Batch Size = 32),**2.68**,14.32,**34.93**,**3.61**,**18.75**,**1.44**
,Batch Size = 16,2.03,**13.84**,37.95,5.86,14.66,0.78
,Batch Size = 64,-0.59,14.09,58.72,15.68,0.0,0.0
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_perf_metr_LS_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case (Dropout = 0.075),2.28,**18.03**,**42.92**,11.3,12.67,0.67
**Panel G: Dropout Rate**,Dropout = 0.05,4.96,**18.03**,63.39,13.7,27.49,2.15
,Dropout = 0.1,**5.96**,18.05,44.81,**6.09**,**33.0**,**4.39**
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel H: Batch Size**,Base Case (Batch Size = 32),2.28,**18.03**,**42.92**,11.3,12.67,0.67
,Batch Size = 16,**6.53**,**18.03**,43.77,**10.2**,**36.23**,**5.4**
,Batch Size = 64,2.28,18.04,63.08,14.69,12.63,0.46
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_perf_metr_LO_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_LSTM.csv')
df_perf_metr_LS_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_LSTM.csv')

# Sensitivity Analysis - ARIMA-LSTM

In [14]:
STOCK_NAME = "FTSE 100"

df_EC_ARIMA_LSTM_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1A/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LSTM_LO_SENS_0 = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LSTM_LS_SENS_0 = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LSTM_LO_SENS_0A = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LSTM_LS_SENS_0A = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_1 = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_1 = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_1A = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_1A = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_2 = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_2 = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_2A = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_2A = pd.read_csv(f'../ARIMA-LSTM/Results/FTSE100/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LS_MAIN.csv')

In [15]:
df_perf_metr_LO_ARIMA_LSTM = performance_metrics_SENS("**Long Only**", 
                                                      df_EC_ARIMA_LSTM_LO_BM, 
                                                      df_EC_ARIMA_LSTM_LO_BM, 
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0,
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0A,
                                                      df_EC_ARIMA_LSTM_LO_SENS_1, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_1A, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_2, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_2A, 
                                                      STOCK_NAME_edited,
                                                      'Panel E', 'Panel F')

In [16]:
df_perf_metr_LS_ARIMA_LSTM = performance_metrics_SENS_LS("**Long Short**", 
                                                      df_EC_ARIMA_LSTM_LS_BM, 
                                                      df_EC_ARIMA_LSTM_LS_BM, 
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0,
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0A,
                                                      df_EC_ARIMA_LSTM_LS_SENS_1, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_1A, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_2, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_2A, 
                                                      STOCK_NAME_edited,
                                                      'Panel G', 'Panel H')

In [17]:
df_perf_metr_LO_ARIMA_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
&nbsp;,**FTSE 100**,2.39,18.03,47.83,5.94,13.27,0.66
&nbsp;,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case (Dropout = 0.075),**5.47**,13.79,**30.22**,**0.91**,**39.71**,**7.19**
**Panel E: Dropout Rate**,Dropout = 0.05,2.66,13.36,34.18,9.02,19.9,1.55
,Dropout = 0.1,2.85,**10.94**,31.62,8.88,26.1,2.35
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel F: Batch Size**,Base Case (Batch Size = 32),**5.47**,13.79,**30.22**,0.91,**39.71**,**7.19**
,Batch Size = 16,2.88,**13.63**,36.25,**0.73**,21.15,1.68
,Batch Size = 64,0.44,14.25,46.13,13.54,3.07,0.03
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_perf_metr_LS_ARIMA_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case (Dropout = 0.075),**10.98**,**18.02**,**40.17**,10.89,**60.92**,**16.65**
**Panel G: Dropout Rate**,Dropout = 0.05,4.91,**18.02**,44.39,7.59,27.24,3.01
,Dropout = 0.1,3.61,18.03,51.81,**7.56**,20.03,1.4
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel H: Batch Size**,Base Case (Batch Size = 32),**10.98**,**18.02**,**40.17**,**10.89**,**60.92**,**16.65**
,Batch Size = 16,-0.63,18.03,60.17,14.14,0.0,0.0
,Batch Size = 64,3.98,18.04,44.77,13.2,22.08,1.96
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_perf_metr_LO_ARIMA_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_ARIMA_LSTM.csv')
df_perf_metr_LS_ARIMA_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_ARIMA_LSTM.csv')

# Sensitivity Analysis - ARIMA

In [20]:
STOCK_NAME = "FTSE 100"

df_EC_ARIMA_LO_BM = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_BM = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LO_SENS_0 = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LS_SENS_0 = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LO_SENS_0A = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LS_SENS_0A = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LO_SENS_B = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_B/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_SENS_B = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_B/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LO_SENS_C = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_C/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_SENS_C = pd.read_csv(f'../ARIMA/Results/FTSE100/Sensitivity Analysis/SENS_C/Visualisations/df_EC_LS_MAIN.csv')

In [21]:
df_perf_metr_LO_ARIMA = performance_metrics_SENS_ARIMA("**Long Only**", 
                                                      df_EC_ARIMA_LO_BM, 
                                                      df_EC_ARIMA_LO_BM, 
                                                    #   df_EC_ARIMA_LO_SENS_0,
                                                    #   df_EC_ARIMA_LO_SENS_0A,
                                                      df_EC_ARIMA_LO_SENS_B, 
                                                      df_EC_ARIMA_LO_SENS_C, 
                                                      STOCK_NAME_edited)

In [22]:
df_perf_metr_LS_ARIMA = performance_metrics_SENS_ARIMA_LS("**Long Short**", 
                                                      df_EC_ARIMA_LS_BM, 
                                                      df_EC_ARIMA_LS_BM, 
                                                    #   df_EC_ARIMA_LS_SENS_0,
                                                    #   df_EC_ARIMA_LS_SENS_0A,
                                                      df_EC_ARIMA_LS_SENS_B, 
                                                      df_EC_ARIMA_LS_SENS_C, 
                                                      STOCK_NAME_edited)

In [23]:
df_perf_metr_LO_ARIMA

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
,**FTSE 100**,2.39,18.03,47.83,5.94,13.27,0.66
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case,-3.78,**12.88**,58.12,**12.55**,**0.0**,**0.0**
,"Order Range = {0-3,1,0-3}",-3.06,12.9,**57.55**,**12.55**,**0.0**,**0.0**
,Information Criterion = BIC,**-3.02**,12.9,**57.55**,**12.55**,**0.0**,**0.0**
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_perf_metr_LS_ARIMA

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case,0.84,**18.04**,**53.65**,**8.03**,4.66,0.07
,"Order Range = {0-3,1,0-3}",**2.46**,**18.04**,**53.65**,**8.03**,**13.66**,**0.63**
,Information Criterion = BIC,2.37,**18.04**,**53.65**,**8.03**,13.15,0.58
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_perf_metr_LO_ARIMA.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_ARIMA.csv')
df_perf_metr_LS_ARIMA.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_ARIMA.csv')